<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
    </head>
    <body>
        <h1>{{title}}</h1>
        <img src="/img/coala.jpg" width="300px"/>
        <p>Created by{{name}}</p>
    </body>
</html>